!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title Gr8Workshops Discussion
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="Gr8Workshops Discussion")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .opi-logo
      .slides
        section(data-state="index-slide")
          h3 Gr8Workshops: A GUIDED DISCUSSION ABOUT TEACHING AND DIVERSITY IN THE GROOVY COMMUNITY
          p.
            <small> Moderated by <a href="http://twitter.com/jennstrater">@jennstrater</a> </small>
            <small>| Co-Founder | <a href="http://www.gr8ladies.org" target="_blank">Gr8Ladies <img src="./assets/img/Gr8LadiesLogoSmall.png"/></a></small>
            <small>| Senior Consultant | <a href="http://www.objectpartners.com" target="_blank">Object Partners</a><img src="./assets/img/opi-logo-small.png"/></small>
        section(data-state="github-slide", class="github-section")
          h1 <i class="fa fa-icon fa-github"></i>
          p.
            These slides are on GitHub
            <a href="http://jlstrater.github.io/gr8workshops-discussion/" target="_blank">jlstrater.github.io/gr8workshops-discussion</a>
          p.
            <a href="http://jlstrater.github.io/gr8workshops-discussion/?print-pdf#/" target="_blank">Printable PDF</a>
        section
            h1 <img src="./assets/img/Gr8LadiesYourTown.png"/>
            ul
                li An organization for the support of women in the Gr8 (Groovy, Grails, Gradle, etc) community
                ul
                    li Education
                    li Professional Development
                    li Networking
                    li Retention
                li Chapters in Minneapolis, MN and looking to expand

        section
            h3 Gr8Workshops
            <img src="./assets/img/slide-images/gr8workshops.jpg" style="height="30%"; width="30%";"/>
            ul
                li Free or low-cost weekend courses
                li Audience
                ul
                    li Beginners
                    li Experienced developers
                li Volunteers
            aside.notes.
                We offer free or low-cost weekend courses for teaching Groovy or related technologies.  Our audience includes
                beginners with no experience coding before.  In Minneapolis, co-founder Allison leads that course.
                She starts with basic html and css and works up to a basic grails application.
                I lead a course for experienced developers looking to learn new languages and/or technologies.
                I like to teach that as a one-day course with different modules from different local experts.
                In the past, this has included my module, Groovy as a Scripting Language. We have also had Functional Programming concepts in Groovy,
                Intro to Grails, and TDD with Spock.
                This program is entirely run by volunteers who we recruit from local user groups including GUM(Groovy Users of Minnesota).
                I hope to have the next workshop in Spring of this year in Minneapolis, MN.  If you are interested in helping or running a Gr8Workshop
                of your own, please contact me.

        section
            h2 Goals of this session
            ul
                li Evaluate current teaching models
                li Raise questions about how to solve the "skills shortage"<sup>1</sup>
                li Discuss the role of diversity in the community and in education
                li Navigate solutions
                li Reveal Lessons Learned from Gr8Ladies Gr8Workshops
            <img src="./assets/img/slide-images/roadmap.jpg"/>

        section
            h2 Backgrounds
            p How did you first learn to program?
            p <img src="./assets/img/slide-images/student.jpg"/>
            ul
                li.fragment Traditional University (Computer Science, IT, or related)
                li.fragment Other University major and on-the-job training
                li.fragment Two-year technical, vocational, or community college
                li.fragment Online University
                li.fragment Code School/Bootcamp

        section
            p <img src="./assets/img/slide-images/groovy-logo.png"/>
            p How did you first learn Groovy?
            ul
                li.fragment University
                li.fragment On the job
                li.fragment Books, blog posts, other media
                li.fragment Workshop, conference, or other training

        section
            section
                h2 Challenges
                ul
                 li "Skills shortage"
                 li Lack of Diversity

            section
                h2 "Skills Shortage" Solutions
                ul
                    ul
                        li Immigration
                        li Outsourcing
                    ul.fragment
                        li Free and Low-Cost Courses
                        li Employer paid skills training
                        li Hire new grads and offer training

        section
            h3 What is diversity?
        section
            h3 Diversity Exercise
            <img onClick="count=120;clearInterval(timer);var counter=setInterval(timer, 1000);" src="./assets/img/slide-images/profile.png"/>
            p I am _____,______,______,______,_____
            p(id="timer")

        section
            <img src="./assets/img/slide-images/profile.png"/>
            ul Traits
                li.fragment Physical (tall, short, blond hair, brown eyes)
                li.fragment Personality (smart, funny, extroverted, loyal, dedicated)
                li.fragment Gender Identity(male, female, bigender, genderqueer)
                li.fragment Race, ethnicity, heritage, country
                li.fragment Profession
                li.fragment Education
                li.fragment Socioeconomic status/background

        section
             blockquote The importance of diversity in the workplace and education is about embracing the value that comes from our individual differences and perspectives

        section
            h2 Tackling Diversity in Education
            ul
                p Barriers to Entry
                ul
                    li scholarships
                    li childcare
                p Marketing and Advertising
                ul
                    li Don't just make it pink!
                    li Diversity in images
                    li Avoid gendered pronouns and adjectives

        section
            h2 What can we do?
            <img src="./assets/img/slide-images/community.jpg"/>

        section
            h2 Potential Students
            <img src="./assets/img/slide-images/students.jpg"  style="height="30%"; width="30%";"/>
            ul
                li University students
                li Working professionals looking for a career change
                li Experienced developers looking to learn new skills
                li Parents, caregivers, etc returning to the workforce after an extended leave

        section
            section
                h2 Alternative Models of education
                <img src="./assets/img/slide-images/paradigm.png"/>
            section
                h2 Code Schools
                table
                    tr
                        td
                            ul
                                li 9-12+ weeks
                                li focus on job placement
                                <img src="./assets/img/slide-images/codeschool.jpg"/>
                        td
                            ul
                                li Flatiron School<sup>4</sup>
                                ul
                                    li $15000 (~14000 €)
                                    li Language focused
                                li Recurse Center (formerly Hacker School)<sup>5</sup>
                                ul
                                    li Free tuition (and housing scholarships)
                                    li Project focused
            section
                h2 Weekend Code Camps
                ul
                    li Language/Stack focused learning at various experience levels
                    li Free or low cost
                    li Examples
                    ul
                        li Bridge Foundry(RailsBridge, ClojureBridge)<sup>6</sup>
                        li RailsGirls
                        li DjangoGirls
                        li Gr8Workshops
                <img src="./assets/img/slide-images/teacher-and-student.jpg"/>
            section
                h2 Online
                p <img src='./assets/img/slide-images/online-education.png'/>
                ul.ul-no-style
                    li Types
                    ul
                        li Traditional Universities for Credit
                        li All online Universities
                        li One-time classes for no credit<sup>2,3</sup>
                    li Formats
                    ul
                        li Group lessons
                        li Self-paced
            section
                h2 Self-Paced Online Class Examples
                ul
                    li
                        a(href="http://codeacademy.com") Code Academy
                    ul
                        li Aimed learning objectives
                        li Beginner level only
                    li
                        a(href="http://projecteuler.net") Project Euler
                    ul
                        li Good for trying out new languages
                        li Very math centric
                    li
                        a(href="http://www.khanacademy.org/computing/computer-programming/programming") Khan Academy
                    ul
                        li Beginner programming courses
                        li Many other subjects too
            section
                h2 Summary
                ul
                    li There are MANY different ways to learn programming
                    li Every individual learns differently so multiple options are better and necessary

        section
            section
                h2 Discussion
            section
                h2 <img src="./assets/img/slide-images/warning.png"/>
                ul
                    li Please let everyone have a chance to speak
                    li Avoid generalizations
                    li Stay within the Code of Conduct

        section
            h3 Do you think you would have benefited from another format for learning Groovy?

        section
            h3 Does Groovy have potential as a language for beginners?

        section
            h3 What content should be included when teaching Groovy?
            ul.fragment
                li Syntax
                li Frameworks
                li Testing
                li Specific Plugins
                li IDEs

        section
            h3 What teaching styles work best for learning/teaching Groovy?
            ul
                li Examples vs projects
                li Self guided vs group settings

        section
            h3 For experienced teachers:
            ul
                li What is your typical audience?
                li Is that what you expect?

        section
            section
                h2 Lessons learned from Gr8Ladies Gr8Workshops
            section
                h3 Identify the audience
                <img src="./assets/img/slide-images/audience.png"/>
                ul
                    li Experience Level
                    ul
                        li No programming experience
                        li Introductory course experience
                        li Experienced developers looking to learn something new
                    li Goal of education
                    ul
                        li Job specific skills
                        li Theoretical knowledge
                        li Career change
            section
                h3 Assess Technical Background Knowledge
                ul
                    li Basic Web Skills
                    ul
                        li Html, CSS, JavaScript
                    li Tools
                    ul
                        li Source control, Command line, Integrated Development Environment(IDE)
                    li General Programming Concepts
                    ul
                        li Object Oriented Programming (OOP)
                        li Functional programming
                        li REST/APIs
                    li Define all jargon and acronyms
                    li Simplify exercises
                    ul
                        li avoid industry specific examples (even math)
            section
                h3  <img src="./assets/img/slide-images/setup.png"/> Setting Up a Development Environment
                ul
                    li Provide instructions for multiple machine configurations
                    li Assume students don't know how any programs(IDE's etc) work
                    li Offer supervised time to assist with setup
                    li Pick a location for your event with good Wi-Fi
                    li Bring a backup USB drive with all necessary setup files
                    li If all else fails, try a web console
            section
                h3 Beginner Specific Hurdles
                <img src="./assets/img/slide-images/beginner.jpg"/>
                ul
                    li Learning something new can be intimidating
                    ul
                        li Remember a welcoming attitude
                        li Watch for assumptions and tone of voice
                    li The more TA(teaching assistant)s the better
                    ul
                        li Small student to teacher ratios are important
                        li Multiple viewpoints
                        li Different analogies and explanations
                    li Languages
                    ul
                        li Java is practical, but beginners often get frustrated with the syntax
                        li Groovy is dynamic, flexible, and easier to learn!
            section
                h3 Current and Ongoing Challenges
                ul
                    li Wait for everyone to catch up or keep moving on?
                    li Budget enough time for questions and assistance
                    ul
                        li One hour sessions aren't enough for true beginners
                        li Consider a follow-up session if there are still outstanding questions
                    li Consider offering an intermediate level for repeat students who don't quite have enough experience for the advanced class
        section
            h2 References
            ul.ul-no-style
                li <small><sup>1</sup><a href="http://www.itworldcanada.com/article/it-hiring-slump-to-bring-about-skills-shortage-survey/88069">http://www.itworldcanada.com/article/it-hiring-slump-to-bring-about-skills-shortage-survey/88069</a></small>
                li <small><sup>2</sup><a href="http://www.newyorker.com/science/maria-konnikova/moocs-failure-solutions">http://www.newyorker.com/science/maria-konnikova/moocs-failure-solutions</a></small>
                li <small><sup>3</sup><a href="http://www.academicpartnerships.com/sites/default/files/MOOCs_Expectations_and_Reality.pdf">http://www.academicpartnerships.com/sites/default/files/MOOCs_Expectations_and_Reality.pdf</a></small>
                li <small><sup>4</sup><a href="http://flatironschool.com/">http://flatironschool.com</a></small>
                li <small><sup>5</sup><a href="http://www.hackerschool.com/faq">http://hackerschool.com/faq</a></small>
                li <small><sup>6</sup><a href="http://www.railsbridge.org/">http://www.railsbridge.org</a></small>


    script(src="./assets/js/app.js")

    // If the query includes 'print-pdf', use the PDF print sheet
    script(type='text/javascript').
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      } else if ( window.location.search.match( /print-paper/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = './assets/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }

      var count = 120;

      function timer() {

        count=count-1;
        if (count < 0) {
           document.getElementById("timer").setAttribute('style', 'color:red;font-weight:bold;');
           return;
        }

        document.getElementById("timer").innerHTML=count + " secs";
      }

      // start timer on up arrow
      document.addEventListener( 'keyup', function( event ) {
        if( event.keyCode === 38 ) {
            count=120;
            var counter=setInterval(timer, 1000);
        }
      }, false );